Output/
.perfectone/
node_modules/
*.exe
*.dll
*.pdb
*.obj
*.lib
*.ktest
*.profraw
*.profdata
*.gcda
*.gcno
coverage*.info
html_cov/
coverage_results/
structuretraverser_debug.log
bin/windows/
bin/linux/
bin/macos/
!bin/.gitkeep
